{% load static %}

<section class="section courses" data-section="section4">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">
        <div class="section-heading">
          <h2>Choose Your Course</h2>
        </div>
      </div>


      <div class="owl-carousel owl-theme">
        {% for course in courses %}

          <div class="item">
            <img src="{% static 'images/courses/courses-01.jpg' %}" alt="Course #1">
            <a href="{% url 'courses:course_detail' course.slug %}"><h4>{{course.title|capfirst}}</h4></a>
            <div class="text-button-pay">
              <p style="color: white;"> Tutor : {{course.creator|capfirst}}</p>
            </div>
          </div>
          
        {% endfor %}
      </div>

    </div>
  </div>
</section>