{% load static %}

<section class="section why-us" data-section="section2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Why choose us?</h2>
          </div>
        </div>
        <div class="col-md-12">
          <div id='tabs'>
            <ul>
              <li><a href='#tabs-1'>Best Badges</a></li>
              <li><a href='#tabs-2'>Top Recruiters</a></li>
              <li><a href='#tabs-3'>Better Judgement</a></li>
            </ul>
            
            <section class='tabs-content'>
              <article id='tabs-1'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="{% static 'images/choose-us-image-01.png' %}" alt="">
                  </div>
                  <div class="col-md-6">
                    <h4> Globally Accepted Badges </h4>
                    <p>Our badges are popular among top companies, and we have wide range of badges for many skills, which are globally accepted by top companies.</p>
                  </div>
                </div>
              </article>
              <article id='tabs-2'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="{% static 'images/choose-us-image-02.png' %}" alt="">
                  </div>
                  <div class="col-md-6">
                    <h4>Recruiters From Top Companies</h4>
                    <p>Top recruiters hire from our platform by seeing your profile and earned badges and directly can contact you.</p> 
                  </div>
                </div>
              </article>
              <article id='tabs-3'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="{% static 'images/choose-us-image-03.png' %}" alt="">
                  </div>
                  <div class="col-md-6">
                    <h4>Better Judgement of Students</h4>
                    <p>Our platform didn't judge students on basis their marks, students are judged on their day to day performances through the course.</p>
                  </div>
                </div>
              </article>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>