{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    
  <section class='container mt-5 pt-5'>
    <div class="add-members">
      <h4 style="text-align: center;font-size: 40px; font-weight: bold; color: #ffa710;">Endorse exceptional students for your course</h4>
      <form class="site-form" action="{% url 'memberships:add_members' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Create">
      </form>
    </div>

  </section>
{% endblock %}