{% load static %}

{% comment %} <section class="paralax-mf footer-paralax bg-image sect-mt4 route" 
  style="background-image: url({% static 'images/overlay-bg.jpg' %})">
  <div class="overlay-mf"></div> {% endcomment %}

    {% comment %} <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  
                  <div class="title-box-2">
                    <h5 class="title-left">
                      Message me
                    </h5>
                  </div>

                  <div>
                    <form action="" method="post" role="form" class="contactForm">
                      <div id="sendmessage">Your message has been sent. Thank you!</div>
                      <div id="errormessage"></div>
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                              data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                             data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                               data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                              <div class="validation"></div>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" 
                            data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                
                <div class="col-md-6">
                  <div class="title-box-2 pt-4 pt-md-0">
                    <h5 class="title-left">Get in Touch</h5>
                  </div>
                  <div class="more-info">
                    <p class="lead">
                      How may I help you. <br>Send me a message or get in touch with me via any of my social media account. I'm mostly active on facebook.<br> Have a wonderful day and feel free to connect with me on any topic.
                    </p>
                    <ul class="list-ico">
                      <li><span class="ion-ios-location"></span> Pushpkunj R/h no 2, Keru Patil Nagar, Jail road, Nashik, Maharashtra, India - 422101</li>
                      <li><span class="ion-ios-telephone"></span> +91 9527370923</li>
                      <li><span class="ion-email"></span> patilkrunal11.kp@gmail.com</li>
                    </ul>
                  </div>
                  <div class="socials">
                    <ul>
                      <li><a href=""><span class="ico-circle"><i class="ion-social-facebook"></i></span></a></li>
                      <li><a href=""><span class="ico-circle"><i class="ion-social-instagram"></i></span></a></li>
                      <li><a href=""><span class="ico-circle"><i class="ion-social-twitter"></i></span></a></li>
                      <li><a href=""><span class="ico-circle"><i class="ion-social-linkedin"></i></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> {% endcomment %}

    <section class="section contact" data-section="section6">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Let’s Keep In Touch</h2>
            </div>
          </div>
          <div class="col-md-6">
          
          <!-- Do you need a working HTML contact-form script?
                    
                      Please visit https://templatemo.com/contact page -->
                      
            <form id="contact" action="" method="post">
              <div class="row">
                <div class="col-md-6">
                    <fieldset>
                      <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required="">
                    </fieldset>
                  </div>
                  <div class="col-md-6">
                    <fieldset>
                      <input name="email" type="text" class="form-control" id="email" placeholder="Your Email" required="">
                    </fieldset>
                  </div>
                <div class="col-md-12">
                  <fieldset>
                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="button">Send Message Now</button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-6">
            <div id="map">
              {% comment %} <iframe src="https://maps.google.com/maps?q=Army+Institute+of+Technology,+Pune,+India&t=&z=13&ie=UTF8&iwloc=&output=embed" 
              width="100%" height="414px" frameborder="0" style="border:0" allowfullscreen></iframe> {% endcomment %}
              <iframe src="#" width="100%" height="414px" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>


    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
          <p><i class="fa fa-copyright"></i> Copyright 2020 by School Of Emblem  
          | <a href="#" rel="sponsored" target="_parent">Home</a></p>
        </div>
        </div>
      </div>
    </footer>

    <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .scroll-to-section').on('click', 'a', function (e) {
          if($(e.target).hasClass('external')) {
            return;
          }
          e.preventDefault();
          $('#menu').removeClass('active');
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>



{% comment %}   </section>
 {% endcomment %}