{% extends '_base.html' %}
{% load static %}

{% block content %}

  <div><h1>.</h1></div>
  <div><h1>.</h1></div>

  <section class="single-course spad pb-0">
    <div class="container">

      <!-- search section -->
      {% include 'courses/search_course.html' %}

      {% if user.is_authenticated %}
        <button class="site-btn btn-dark">
          <a href="{% url 'courses:course_create' %}" class="highlight">Add Course</a>
        </button>
      {% endif %}

      <div>
        <h3>All Courses</h3>
        
        {% for course in courses%}
          <div class="row">
            <div>
              <a href="{% url 'courses:course_detail' course.slug %}"><h3>{{course.title|capfirst}}</h3></a>
              <p>{{course.description}}</p>
              <div>{ {student_membership.all.count } } Students</div>
              <div data-setbg="{% static 'webuni/img/authors/2.jpg' %}"></div>
              <p>{{ course.duration|capfirst }} course.duration</p>
              <p> Tutor : {{course.creator|capfirst}}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
