{% load static %}

  <!-- search section -->
  <section class="search-section ss-other-page">
    <div class="search-warp">
      <div class="section-title text-white">
      <h3><span style="color: black;">Search your course</span></h3>
      </div>
      <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <!-- search form -->
        <form class="course-search-form">
        <input type="text" placeholder="Course">
        <input type="text" class="last-m" placeholder="Category">
        <button class="site-btn btn-dark">Search Course</button>
        </form>
      </div>
      </div>
    </div>
  </section>
  <!-- search section end -->
